@media (min-width: 767px) {

  .container {
    margin: 0 var(--apx-l-60);
    padding: var(--apx-l-50) 0 var(--apx-l-120);
  }

  .title {
    max-width: var(--apx-l-535);
    margin: 0 auto var(--apx-l-27);
    font-size: var(--apx-l-42);
    line-height: 1;
  }

  .settings {
    margin-bottom: var(--apx-l-26);
    grid-template-columns: var(--apx-l-237) 1fr 1fr;
    grid-template-rows: auto;
    row-gap: var(--apx-l-20);
    column-gap: var(--apx-l-24);
    font-size: var(--apx-l-14);
  }

  .recipient,
  .minmax,
  .btn,
  .animated-text {
    border: var(--apx-l-1) solid var(--color-black);
    border-radius: var(--apx-l-8);
  }

  .recipient,
  .color,
  .btn {
    padding: var(--apx-l-14);
  }

  .recipient p,
  .vibe p {
    margin: 0 0 var(--apx-l-14);
  }

  .recipient {
    grid-column: 1;
    grid-row: 1 / span 3;
  }

  .recipient .radio-group {
    gap: var(--apx-l-8);
    margin-bottom: var(--apx-l-14);
  }

  .recipient span {
    width: var(--apx-l-99);
    height: var(--apx-l-46);
    border-width: var(--apx-l-1);
    border-radius: var(--apx-l-8);
  }

  .animated-text {
    display: block;
    padding: var(--apx-l-40) var(--apx-l-28);
    height: var(--apx-l-120);
    color: var(--color-white);
    background: linear-gradient(341.79deg, #011008 36.18%, #555555 94.48%);
    line-height: 1.2;
    text-align: center;
  }

  #text {
    display: inline;
  }

  #cursor {
    display: inline;
    opacity: 1;
    animation: blink 0.8s steps(1) infinite;
  }

  @keyframes blink {
    50% { opacity: 0; }
  }

  .vibe {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .vibe p {
    text-align: left;
  }

  .vibe .radio-group {
    gap: var(--apx-l-8);
  }

  .vibe label {
    padding: var(--apx-l-14);
    border-width: var(--apx-l-1);
    border-radius: var(--apx-l-100);
  }

  .vibe svg {
    width: var(--apx-l-18);
    height: var(--apx-l-18);
  }

  .vibe span {
    margin-left: var(--apx-l-9);
  }

  .minmax {
    padding: var(--apx-l-9);
    grid-column: 2;
    grid-row: 1;
  }

  .color {
    grid-column: 3;
    grid-row: 1;
    height: var(--apx-l-126);
    border-radius: var(--apx-l-8);
  }

  .color span {
    width: var(--apx-l-10);
    height: var(--apx-l-10);
    border-width: var(--apx-l-1);
  }

  .color label:first-child span {
    top: var(--apx-l-11);
    left: var(--apx-l-11);
  }

  .color label:nth-child(2) span {
    top: var(--apx-l-11);
    right: var(--apx-l-11);
  }

  .color label:nth-child(3) span {
    bottom: var(--apx-l-11);
    left: var(--apx-l-11);
  }

  .color label:last-child span {
    bottom: var(--apx-l-11);
    right: var(--apx-l-11);
  }

  .btn {
    grid-column: 2 / span 2;
    grid-row: 3;
    height: var(--apx-l-56);
    padding: var(--apx-l-17);
    font-size: var(--apx-l-20);
  }

  .idea {
    height: var(--apx-l-500);
    margin: 0;
    border-radius: var(--apx-l-8);
    background-image: url(../img/idea-background-desk.png);
  }

  .video video {
    border-radius: var(--apx-l-8);
  }

  .video-desk {
    display: block;
  }

  .video-mob {
    display: none;
  }

  .idea-background {
    border-radius: var(--apx-l-8);
  }

  .idea-wrapper {
    padding: var(--apx-l-80) var(--apx-l-92);
    justify-content: center;
    align-items: center;
  }

  .idea-what,
  .idea-how {
    padding: var(--apx-l-21);
    border-radius: var(--apx-l-8);
    font-size: var(--apx-l-16);
  }

  .idea-what h3,
  .idea-how h3 {
    max-width: unset;
    margin: 0 0 var(--apx-l-12);
  }

  .idea-what p,
  .idea-how p {
    margin-bottom: var(--apx-l-34);
  }

  .idea-what .btn,
  .idea-how .btn {
    height: unset;
    padding: var(--apx-l-8) var(--apx-l-14);
    font-size: var(--apx-l-14);
  }

  .like {
    bottom: var(--apx-l-21);
    left: var(--apx-l-21);
    width: var(--apx-l-21);
    height: var(--apx-l-18);
  }

  .share-mobile {
    display: none;
  }

  .share-desktop {
    display: block;
    position: absolute;
    top: var(--apx-l-20);
    right: var(--apx-l-20);
  }

  .share-desktop svg {
    width: var(--apx-l-39);
    height: var(--apx-l-29);
    cursor: pointer;
  }

  .share-desktop svg path {
    transition: all var(--speed) ease-in-out;
  }

  .share-desktop span {
    position: absolute;
    top: calc(var(--apx-l-65) * -1);
    right: calc(var(--apx-l-70) * -1);
    width: var(--apx-l-177);
    padding: var(--apx-l-10) var(--apx-l-15);
    border: var(--apx-l-1) dashed var(--color-black);
    border-radius: var(--apx-l-8);
    font-size: var(--apx-l-10);
    line-height: 1.1;
    background-color: var(--color-white);
    opacity: 0;
    transition: all var(--speed) ease-in-out;
  }

  .share-desktop:hover svg path {
    fill: var(--color-white);
  }

  .share-desktop:hover span {
    opacity: 1;
  }

}



@media (min-width: 1239px) {

  .container {
    margin: 0 var(--apx-114);
    padding: var(--apx-82) 0 var(--apx-150);
  }

  .wrapper {
    justify-content: center;
  }

  .generator {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .title {
    flex: 1 1 100%;
    margin: 0 var(--apx-286) var(--apx-46);
    font-size: var(--apx-56);
  }

  .settings {
    margin: 0;
    margin-right: var(--apx-73);
    padding: 0;
    grid-template-columns: var(--apx-237) var(--apx-196);
    grid-template-rows: auto;
    gap: var(--apx-24);
    font-size: var(--apx-14);
  }

  .recipient,
  .minmax,
  .btn,
  .animated-text {
    border: var(--apx-1) solid var(--color-black);
    border-radius: var(--apx-8);
  }

  .recipient,
  .color,
  .btn {
    padding: var(--apx-14);
  }

  .recipient p,
  .vibe p {
    margin: 0 0 var(--apx-14);
  }

  .recipient {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .recipient .radio-group {
    gap: var(--apx-8);
    margin-bottom: var(--apx-14);
  }

  .recipient span {
    width: var(--apx-99);
    height: var(--apx-46);
    border-width: var(--apx-1);
    border-radius: var(--apx-8);
  }

  .animated-text {
    padding: var(--apx-40) var(--apx-28);
    height: var(--apx-120);
  }

  .vibe {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .vibe .radio-group {
    gap: var(--apx-8);
  }

  .vibe label {
    padding: var(--apx-14);
    border-width: var(--apx-1);
    border-radius: var(--apx-100);
  }

  .vibe svg {
    width: var(--apx-18);
    height: var(--apx-18);
  }

  .vibe span {
    margin-left: var(--apx-9);
  }

  .minmax {
    padding: var(--apx-14);
    grid-column: 2;
    grid-row: 1;
    height: var(--apx-155);
  }

  .color {
    grid-column: 2;
    grid-row: 2;
    height: var(--apx-114);
    border-radius: var(--apx-8);
  }

  .color span {
    width: var(--apx-12);
    height: var(--apx-12);
    border-width: var(--apx-1);
  }

  .color label:first-child span {
    top: var(--apx-14);
    left: var(--apx-14);
  }

  .color label:nth-child(2) span {
    top: var(--apx-14);
    right: var(--apx-14);
  }

  .color label:nth-child(3) span {
    bottom: var(--apx-14);
    left: var(--apx-14);
  }

  .color label:last-child span {
    bottom: var(--apx-14);
    right: var(--apx-14);
  }

  .btn {
    grid-column: 1 / span 2;
    grid-row: 4;
    height: var(--apx-65);
    padding: var(--apx-21);
    font-size: var(--apx-22);
  }

  .idea {
    width: var(--apx-680);
    height: var(--apx-500);
    border-radius: var(--apx-8);
  }

  .video video {
    border-radius: var(--apx-8);
  }

  .idea-background {
    border-radius: var(--apx-8);
  }

  .idea-wrapper {
    padding: var(--apx-78) var(--apx-96);
  }

  .idea-what,
  .idea-how {
    padding: var(--apx-21);
    border-radius: var(--apx-8);
    font-size: var(--apx-17);
  }

  .idea-what h3,
  .idea-how h3 {
    max-width: unset;
    margin: 0 0 var(--apx-16);
    font-size: var(--apx-40);
  }

  .idea-what p,
  .idea-how p {
    margin-bottom: var(--apx-34);
  }

  .idea-what .btn,
  .idea-how .btn {
    height: unset;
    padding: var(--apx-9) var(--apx-15);
    font-size: var(--apx-14);
  }

  .like {
    bottom: var(--apx-21);
    left: var(--apx-21);
    width: var(--apx-22);
    height: var(--apx-19);
  }

  .share-desktop {
    top: var(--apx-22);
    right: var(--apx-27);
  }

  .share-desktop svg {
    width: var(--apx-40);
    height: var(--apx-30);
  }

  .share-desktop span {
    top: calc(var(--apx-65) * -1);
    right: calc(var(--apx-70) * -1);
    width: var(--apx-177);
    padding: var(--apx-10) var(--apx-15);
    border: var(--apx-1) dashed var(--color-black);
    border-radius: var(--apx-8);
    font-size: var(--apx-10);
  }

}
