html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "YS Text";
  src: local("ys-text-regular"),
    url("../fonts/ys-text.woff2") format("woff2"),
    url("../fonts/ys-text.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tenor Sans";
  src: local("tenor-sans-regular"),
    url("../fonts/tenor-sans.woff2") format("woff2"),
    url("../fonts/tenor-sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-black: #1E1E1E;
  --color-white: #fff;
  --color-background: #F0F0F0;
  --color-grey: #D1D1D1;
  --speed: 0.3s;
}

.page {
  color: var(--color-black);
  font-family: "YS Text", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  background-color: var(--color-background);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.margin-reset {
  margin: 0;
}

.container {
  margin: 0 var(--apx-m-16);
  padding: var(--apx-m-38) 0;
}

.wrapper,
.generator {
  display: flex;
  flex-direction: column;
}

.title {
  max-width: var(--apx-m-243);
  margin: 0 auto var(--apx-m-24);
  font-family: "Tenor Sans", serif;
  font-weight: 400;
  font-size: var(--apx-m-28);
  line-height: 0.9;
  letter-spacing: -1.5px;
  text-align: center;
}

.settings {
  margin-bottom: var(--apx-m-38);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: var(--apx-m-24);
  column-gap: var(--apx-m-20);
  font-size: var(--apx-m-14);
}

.recipient,
.minmax,
.btn {
  border: var(--apx-m-1) solid var(--color-black);
  border-radius: var(--apx-m-8);
}

.recipient,
.color,
.btn {
  padding: var(--apx-m-14);
}

.recipient input,
.vibe input,
.color input {
  display: none;
}

.recipient p,
.vibe p {
  margin: 0 0 var(--apx-m-14);
  text-align: center;
}

.recipient {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.recipient .radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--apx-m-8);
}

.recipient span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--apx-m-125);
  height: var(--apx-m-47);
  border-width: var(--apx-m-1);
  border-style: solid;
  border-color: var(--color-black);
  border-radius: var(--apx-m-8);
  cursor: pointer;
}

.recipient input:checked + span {
  border-style: dashed;
}

.animated-text {
  display: none;
}

.vibe {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.vibe .radio-group {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--apx-m-8);
}

.vibe label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: initial;
  padding: var(--apx-m-14);
  border-width: var(--apx-m-1);
  border-style: solid;
  border-color: var(--color-black);
  border-radius: var(--apx-m-100);
  cursor: pointer;
  transition: flex-grow var(--speed) ease;
}

.vibe svg {
  width: var(--apx-m-18);
  height: var(--apx-m-18);
}

.vibe span {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: var(--apx-m-9);
}

.vibe input:checked ~ span {
  display: block;
}

.vibe input:checked + svg {
  margin-right: auto;
}

.vibe label:has(input:checked) {
  flex-grow: 1;
  border-style: dashed;
}

.minmax {
  padding: var(--apx-m-9);
  grid-column: 1;
  grid-row: 3;
}

.color {
  grid-column: 2;
  grid-row: 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--apx-m-164);
  border-radius: var(--apx-m-8);
  background-image: url(../img/color-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.color p {
  text-align: center;
}

.color span {
  position: absolute;
  width: var(--apx-m-12);
  height: var(--apx-m-12);
  border-width: var(--apx-m-1);
  border-style: solid;
  border-color: var(--color-black);
  border-radius: 100%;
  cursor: pointer;
}

.color input:checked + span {
  border-style: dashed;
}

.color label:first-child span {
  top: var(--apx-m-14);
  left: var(--apx-m-14);
}

.color label:nth-child(2) span {
  top: var(--apx-m-14);
  right: var(--apx-m-14);
}

.color label:nth-child(3) span {
  bottom: var(--apx-m-14);
  left: var(--apx-m-14);
}

.color label:last-child span {
  bottom: var(--apx-m-14);
  right: var(--apx-m-14);
}

.btn {
  grid-column: 1 / span 2;
  grid-row: 4;
  padding: var(--apx-m-17);
  color: var(--color-white);
  font-size: var(--apx-m-18);
  background-color: var(--color-black);
  text-align: center;
}

.btn:disabled {
  color: var(--color-black);
  background-color: var(--color-grey);
  border-color: var(--color-grey);
}

.idea {
  position: relative;
  margin: 0 calc(var(--apx-m-16) * -1);
  background-image: url(../img/idea-background-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-desk {
  display: none;
}

.idea-background {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.idea-wrapper {
  width: 100%;
  height: 100%;
  padding: var(--apx-m-102) var(--apx-m-16) var(--apx-m-32);
  opacity: 1;
}

.idea-what,
.idea-how {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--apx-m-18);
  border-radius: var(--apx-m-8);
  font-size: var(--apx-m-14);
  background-color: var(--color-white);
}

.idea-what h3,
.idea-how h3 {
  max-width: unset;
  margin: 0 0 var(--apx-m-18);
  text-align: left;
}

.idea-what p,
.idea-how p {
  margin-bottom: var(--apx-m-64);
  line-height: 1.2;
}

.idea-what .btn,
.idea-how .btn {
  align-self: flex-end;
  padding: var(--apx-m-10) var(--apx-m-15);
  font-size: var(--apx-m-14);
}

.like {
  position: absolute;
  bottom: var(--apx-m-18);
  left: var(--apx-m-18);
  width: var(--apx-m-22);
  height: var(--apx-m-19);
}

.share-desktop {
  display: none;
}

.share-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--apx-m-58);
  padding: var(--apx-m-8) var(--apx-m-15);
  border: var(--apx-m-1) dashed var(--color-white);
  border-radius: var(--apx-m-8);
  color: var(--color-white);
  background-color: rgba(30, 30, 30, 0.26);
  backdrop-filter: blur(4px);
}

.share-mobile span {
  max-width: var(--apx-m-184);
  font-size: var(--apx-m-9);
}

.share-mobile svg {
  width: var(--apx-m-23);
  height: var(--apx-m-17);
  cursor: pointer;
}

